/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   html {
    font-size: 16px;
  }
  
  body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #e2e3ed;
    text-align: left;
    background-color: #202322;
  }
  
  ul,
  ol {
    list-style: none;
    padding: 0;
  margin: 0;

  }
  
  a {
    text-decoration: none;
    color: #FFE8D6;
  }

  h3,
  h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    margin: 20px 0;
  }
  
  p {
    font-size: .875em;
    line-height: 1.285;
  }
  
  img {
    width: 100%;
  }
  .content-wrapper {
    /* width: 90%; */
    /* margin: 50px 0; */
  }
/* ---------------Mobile Styles - Homepage --------->
/* ------------------------ HEADER ---------*/


  header {
    background: #453E4F;
 padding-top: 20px;
 padding-bottom: 40px;
 display: flex;
  flex-flow: row wrap;
    justify-content: center;
   text-align: center; 
  }
  
header .content-wrapper {
/* display: flex;
justify-content: center;
width: 85%;
align-items: center;
flex-flow: row wrap; */
display: block;

  }
  
header nav {
    /* justify-content:center;
width: 45%;
margin-bottom: 40px;
flex-flow: row wrap;
align-items: center; */
margin-bottom: 60px;
display: block;
  }
  

  header nav ul {
    /* display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; */

    
  }
  header nav ul li {
    /* display: flex;
  text-transform: uppercase;
  margin-bottom: 20px;
  flex-flow: column wrap;
  justify-content: space-between; */
  font-size: .75rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  }
  
  header nav #contact-link {
background-color: #ff7373;
padding: 10px 10px;
border-radius: 30px;
  }

  header .home-title {
/* max-width: 95%;
display: flex;
flex-flow:row wrap;
justify-content: center;
align-items: center; */
display: block;
  }
  
  header h1 {
  color: #f7be93;
font-size: 1.75rem;
line-height: 1.5;
margin: 0;
display: block;
  }
  

  header h2 {
    color: #FFE8D6;
width: 100%;
margin: 60px 0 0 0;
   font-size: 1.5rem;
  }

/*footer*/

footer {
  background-color: #F19494;
}


/* -------------------MAIN ---------------- */
body {
  background-color: #FFE8D6;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media only screen and (min-width:768px) {
  /*Tablet styles here*/
  header {
    background: #453E4F;
 padding-top: 50px;
 padding-bottom: 140px;
 display: flex;
  flex-flow: row wrap;
    justify-content: center;
   text-align: center; 
  }
  
header .content-wrapper {
display: flex;
justify-content: center;
width: 85%;
align-items: flex-end;
flex-flow: column wrap;
  }
  
header nav {
    justify-content: flex-end;
width: 45%;
margin-bottom: 50px;
  }
  

  header nav ul {
   
 
    
  }
  header nav ul li {
    display: inline;
  text-transform: uppercase;
  margin-bottom: 20px;
  }
  
  header .home-title {
max-width: 95%;
display: flex;
flex-flow:row wrap;
justify-content: center;
  }
  
  header h1 {
  color: #FFE8D6;
  width: 100%;
font-size: 4rem;
margin: 0;
  }
  
  header h2 {
    color: #FFE8D6;
width: 100%;
margin: 40px 0 0 0;
   font-size: 2rem;
  }




/* ------------------ DESKTOP --------------*/
@media only screen and (min-width: 1200px) {

  /*Desktop styles here*/

  /* ------------------------ HEADER ---------*/
  header {
    background: #453E4F;
 padding-top: 50px;
 padding-bottom: 140px;
 display: flex;
  flex-flow: row wrap;
    justify-content: center;
   text-align: center; 
  }
  
header .content-wrapper {
display: flex;
justify-content: center;
width: 85%;
align-items: flex-end;
flex-flow: column wrap;
  }
  
header nav {
    justify-content: flex-end;
width: 45%;
margin-bottom: 50px;
  }
  

  header nav ul {
   
 
    
  }
  header nav ul li {
    display: inline;
  text-transform: uppercase;
  margin-bottom: 20px;
  }
  
  header .home-title {
max-width: 95%;
display: flex;
flex-flow:row wrap;
justify-content: center;
  }
  
  header h1 {
  color: #FFE8D6;
  width: 100%;
font-size: 4rem;
margin: 0;
  }
  
  header h2 {
    color: #FFE8D6;
width: 100%;
margin: 40px 0 0 0;
   font-size: 2rem;
  }
